## Import Library

In [1]:
import pandas as pd
from google.colab import drive

In [2]:
drive.mount('/content/drive')
project_path = "/content/drive/MyDrive/ComBio"
root_folder = f"{project_path}/Dataset"
output_folder = f"{root_folder}/Processed"

Mounted at /content/drive

## Merge Data

In [3]:
file_paths = [
    f"{output_folder}/2005-2006.csv",
    f"{output_folder}/2007-2008.csv",
    f"{output_folder}/2009-2010.csv",
    f"{output_folder}/2011-2012.csv",
    f"{output_folder}/2013-2014.csv",
    f"{output_folder}/2015-2016.csv",
    f"{output_folder}/2017-2018.csv",
]

In [4]:
df_list = [pd.read_csv(file) for file in file_paths]
df = pd.concat(df_list, ignore_index=True)

column_mapping = {
    # Demografi
    'RIDAGEYR': 'age',
    'RIAGENDR': 'gender',
    'RIDRETH1': 'race_ethnicity',
    'DMDEDUC2': 'education_level',
    'INDFMPIR': 'income_ratio',

    # Riwayat kesehatan dan perilaku
    'DMDMARTL': 'marital_status',
    'MCQ203': 'jaundice_history',

    'MCQ092': 'receive_transfusion',
    'MCQ160L': 'liver_condition',
    'DUQ370': 'injectable_drug_use',
    'DUQ240': 'drug_use',
    'ALQ101': 'alcohol_consumption',

    # Hasil tes darah
    "LBXSATSI": "alt",
    "LBXSAL": "albumin",
    "LBXSAPSI": "alp",
    "LBXSASSI": "ast",
    "LBXSBU": "bun",
    "LBXSCH": "cholesterol",
    "LBXSCK": "cpk",
    "LBXSCR": "creatinine",
    "LBXSGTSI": "ggt",
    "LBXSGL": "glucose",
    "LBXSTB": "total_bilirubin",
    "LBXSCA": "total_calcium",
    "LBXSTP": "total_protein",
    "LBXSTR": "triglycerides",
    "LBXSUA": "uric_acid",
    'LBXSLDSI': "ldh",
    "LBXSGB" : "globulin",
    "LBXSOSSI" : "osmolality",

    # Target
    'LBXHCR': 'hcv_status'
}

columns_to_keep = list(column_mapping.keys())
df_selected = df[columns_to_keep]

df_selected = df_selected.rename(columns=column_mapping)

output_path = f"{output_folder}/raw_dataset.csv"
df_selected.to_csv(output_path, index=False)

print("Dataset berhasil digabung dan kolom telah diubah namanya.")
print(f"Jumlah baris: {df_selected.shape[0]}")
print(f"Jumlah kolom: {df_selected.shape[1]}")

Dataset berhasil digabung dan kolom telah diubah namanya.
Jumlah baris: 47939
Jumlah kolom: 31